@import '../abstracts/_variables.css';

.details-container {
    width: 85%;
    border: 1px solid var(--color-light-blue-1);
    box-shadow: 0 0.08rem 1.5rem rgba(0, 0, 0, 0.1);
    margin: 2.5rem auto 2.5rem;
    display: grid;
    grid-template-columns: 1fr 3.5fr;
    position: relative;
}

.details-picture {
    display: flex;
    justify-content: center;
    align-content: center;
    align-self: center;
}

.details-picture img {
    width: 40rem;
    height: 40rem;
}

.details-content {
    display: flex;
    align-items: center;
    padding: 3rem 5rem 3rem 0;
}

.details-content-wrapper .header {
    font-size: 2.25rem;
    position: relative;
}

.details-content-wrapper .header span {
    font-size: 1.25rem;
    color: var(--color-dark-grey-2);
    letter-spacing: 0.1rem;
    vertical-align: 0.2rem;
}

.details-content-wrapper .header::after {
    content: '';
    position: absolute;
    display: block;
    top: 3.5rem;
    height: 1px;
    background-color: var(--color-dark-grey-1);
    width: 100%;
}

.info-group {
    display: flex;
    justify-content: space-between;
}

.general-info {
    margin-top: 1.25rem;
    font-size: 1.25rem;
}

.general-info .price {
    font-weight: 600;
}

.details-tags {
    margin-top: 1.25rem;
}

.details-tags .tag {
    margin-left: 0.35rem;
}

.details-content .description {
    font-size: 1.1rem;
    text-align: justify;
    margin: 0.5rem 0 1.5rem;
}

.details-content .keynotes {
    font-size: 1.1rem;
    margin-bottom: 2rem;
}

.details-content .keynotes span {
    font-weight: 600;
}



/* tab-land */
@media only screen and (max-width: 88em) {

    .details-container {
        grid-template-columns: 0.8fr 1fr;
    }

    .details-picture img {
        width: 20rem;
        height: 20rem;
    }
}

/* tab-port */
@media only screen and (max-width: 62em) {

    .details-container {
        grid-template-columns: 1fr;
    }

    .details-content {
        padding: 5rem;
    }

    .details-picture img {
        display: none;
    }
}

/* phone */
@media only screen and (max-width: 37.5em) {

    .details-content {
        padding: 2.5rem 2.5rem;
    }

    .details-content-wrapper .header span {
        display: none;
    }
}
