@import '../abstracts/_variables.css';

#list-container {
/*  border: 1px solid red;*/
    padding: 0rem 1rem 1rem 1rem;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
}

.list-cards {
/*  border: 1px solid orange;*/
    padding: 0.5rem;
    margin: 1rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
}

.list-sortdata {
/*  border: 1px solid blue;*/
    margin: 1rem 0 1rem 1rem;
    padding: 1rem;
    display: grid;
    grid-auto-rows: min-content;
    grid-gap: 0.5rem;
}

.list-sortdata-group {
    padding: 0.5rem 0.5rem 0 0.5rem;
    margin: 0.5rem 0.5rem 0 0.5rem;
}

.list-search {
/*  border: 1px solid green;*/
    margin: 1rem;
}

@media only screen and (max-width: 46em) {
    #list-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .list-cards {
        grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    }

    .list-sortdata-group {
        padding: 0;
        margin: 0;
    }

    .list-sortdata {
        margin: 1rem 1rem 0;
        padding: 1rem 1rem 0;
    }

    .list-sortdata-group .populartags-header,
    .list-sortdata-group .tag {
        display: none;
    }

    .list-search {
        margin: 0rem 1rem 1rem 1rem;
    }

    .list-card {
        justify-self: center;
    }
}