@import '../abstracts/_variables.css';

.container-profile {
    margin: 2rem auto;
    border-radius: 5px;
    min-height: 29rem;
}

.profile-col--1 {
    padding: 3rem;
    background-color: var(--color-dark-purple-2);
    border: 1px solid var(--color-dark-purple-2);
    color: #fff;
    border-radius: 5px 0 0 5px;
}

.profile-col--2 {
    padding: 3.5rem 3rem 3rem;
    min-height: 29rem;
    border: 1px solid var(--color-light-blue-2);
    background-color: var(--color-light-blue-1);
    border-radius: 0 5px 5px 0;
}

.nav-link.active {
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.5) !important;
    background-color: transparent !important;
    border-radius: 0;
}

.nav-link {
    color: inherit !important;
    padding: 0.7rem 0 0.7rem 0 !important;
}

.form-control:disabled, .form-control[readonly] {
    background-color: var(--color-light-blue-1) !important;
    opacity: 1 !important;
}

.form-control:focus {
    color: inherit !important;
    background-color: #fff;
    border-color: var(--color-light-blue-3) !important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(225, 227, 235, 0.8);
}

.btn-link {
    font-weight: 400;
    color: var(--color-dark-blue-2) !important;
    text-decoration: none;
}

.btn-link:hover {
    color: var(--color-dark-blue-3) !important;
    text-decoration: none !important;
}

.btn-link:focus, .btn-link.focus {
  text-decoration: none !important;
  box-shadow: none;
}

.animate-profile {
    animation: fadeIn 0.2s ease-out;
}

/* phone */
@media only screen and (max-width: 36.5em) {

    .wrapper-profile {
        padding: 0 2rem 0 1rem;
    }

    .container-profile {
        margin: 3rem 0.5rem;
    }

    .profile-col--1 {
        padding: 2rem 3rem 2rem 3rem;
        border-radius: 5px 5px 0 0;
    }

    .profile-col--2 {
        padding: 3rem;
        min-height: 29rem;
        border-radius: 0 0 5px 5px;
    }

    .nav-link.active  {
        width: 10rem;
    }
}
