@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}
<div class="container container-profile">

    <div>
        <div class="row row-profile">
            <div class="col-md-3 profile-col--1">
                <partial name="_ManageNav" />
            </div>
            <div class="col-md-9 profile-col--2">
                @RenderBody()
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @RenderSection("Scripts", required: false)
}
