@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<div class="wrapper-profile">
    <div class="container container-profile">
        <div>
            <div class="row row-profile">
                <div class="col-lg-3 col-md-3 col-sm-4 col-12  profile-col--1">
                    <partial name="_ManageNav" />
                </div>
                <div class="col-lg-9 col-md-9 col-sm-8 col-12 profile-col--2">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @RenderSection("Scripts", required: false)
}
