@model HomeViewModel

<div class="banner">
    <div class="banner-header">
        <h2>Dior</h2>
        <h3>J'ADORE</h3>
    </div>
    <div class="banner-description">
        <h3 class="banner-price">$135</h3>
        <p>Finely crafted and tuned to the last detail like a custom-made flower, J'adore brings in the most beautiful flowers from around the world in its composition.</p>
        <a href="#" class="bt bt--main">Buy now</a>
    </div>
</div>

@foreach (var perfume in Model.PerfumesOfTheWeek)
{
    <partial name="_PerfumeCard" model="perfume" />
}