@model HomeViewModel

<div class="banner-container">
    <div class="banner-header">
        <h2>Dior</h2>
        <h3>J'ADORE</h3>
    </div>
    <div class="banner-image"></div>
    <div class="banner-description">
        <h3 class="banner-price">$135</h3>
        <p>Finely crafted and tuned to the last detail like a custom-made flower, J'adore brings in the most beautiful flowers from around the world in its composition.</p>
        <a href="#" class="bt bt--main">Buy now</a>

    </div>
</div>
<div class="divider">
    <h3 class="divider-text">Best Sellers</h3>
</div>

<br />
<br />
<br />
<br />

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="cardindex">
                <div class="cardindex-side cardindex-side--front">
                    <div class="cardindex-bg">
                        <div class="cardindex-picture"></div>
                    </div>          
                        <h3 class="perfume-name">Eternity</h3>
                        <h4 class="perfume-brand">Calvin Klein</h4>
                    <hr class="card-divider"/>
                    <div class="cardindex-details">
                        <ul>
                            <li>50 ml</li>
                            <li>for Her</li>
                            <li>Freesia, Mandarin, Sage, Muguet</li>
                        </ul>
                    </div>
                </div>

                <div class="cardindex-side cardindex-side--back">
                    <div class="cardindex-cta">
                        <div class="cardindex-pricebox">
                            <p class="price-only">Only</p>
                            <p class="price-value">$255</p>
                        </div>
                        <a href="#">content</a>
                    </div>
                </div>
            </div>
         </div>
    </div>
</div>

    <br />
    <br />
    <br />
@*<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="card-index">

            </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="card-index">

            </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="card-index">

            </div>
        </div>
    </div>
</div>*@








@*@foreach (var perfume in Model.PerfumesOfTheWeek)
{
    <partial name="_PerfumeCard" model="perfume" />
}*@