@model IEnumerable<Category>

@*<h3>Sort by category</h3>
<li class="dropdown" style="list-style-type: none;">
    <a asp-controller="Perfume"
       asp-action="List"
       class="dropdown-toggle" data-toggle="dropdown" style="text-decoration: none;">Category<b class="caret"></b></a>
    <ul class="dropdown-menu">
        @foreach (var category in Model)
        {
            <li>
                <a asp-controller="Perfume" asp-action="List"
                   asp-route-category="@category.CategoryName">@category.CategoryName</a>
            </li>
        }
        <li class="divider"></li>
        <li>
            <a asp-controller="Perfume" asp-action="List" asp-route-category="">View all perfumes</a>
        </li>
    </ul>
</li>
<br />*@

<h3 class="category-header">Categories</h3>
<ul class="category-list">
    @foreach (var category in Model)
    {
        <li class="category-item">
            <a asp-controller="Perfume" asp-action="List"
               asp-route-category="@category.CategoryName">@category.CategoryName</a>
        </li>
    }
    <li class="category-item">
        <a asp-controller="Perfume" asp-action="List" asp-route-category="">View all perfumes</a>
    </li>
</ul>