@import '../abstracts/_variables.css';

.container-authentication {
    margin: 1rem auto;
}

.col-authentication {
    border: 1px solid var(--color-light-blue-2);
    box-shadow: 0 0.05rem 0.1rem rgba(0, 0,0, 0.1);
    border-radius: 2px;
    padding: 3rem 3rem;
    min-height: 33rem;
}

.row-authentication {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-authentication h3 {
    font-size: 2rem;
}

.container-authentication h4 {
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

#forgot-password,
#register,
#resend-confirmation {
    text-decoration: none;
    color: inherit;
    transition: all 0.1s ease-in;
}

#forgot-password:hover,
#register:hover,
#resend-confirmation:hover {
    color: var(--color-dark-blue-2);
}


/* phone */
@media only screen and (max-width: 37.5em) {

    .col-authentication {
        padding: 2rem 2rem;
    }
}