@import '../abstracts/_variables.css';

.bt, .bt:link, .bt:visited {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 1.1rem;
    text-transform: uppercase;
    display: inline-block;
    padding: 0.7rem 1.5rem;
    text-decoration: none;
    cursor: pointer;
    border-radius: 2px;
    border: none;
    position: relative;
    transition: all 0.3s;
}

.bt:hover {
  color: #fff;
  transform: scale(1.03);
}

.bt--main {
    background-color: var(--color-dark-purple-2);
    color: #fff;
}

/* Create a shape outside of the button range*/
.bt--animated::after {
    content: '';
    background: #fff;
    height: 60px;
    left: -3.3rem;
    opacity: 0.2;
    position: absolute;
    top: -0.85rem;
    background-color: #fff;
    transform: rotate(15deg);
    transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    width: 30px;
    z-index: -10;
}

.bt--animated::after::after {
    display: none;
}

/* Move rotated shape from left to right */
.bt--animated:hover::after {
    left: 120%;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.bt--grey {
    background-color: var(--color-light-grey-2);
    color: #fff;
}

.bt--brown {
    background-color: var(--color-brown);
    color: #fff;
}

.bt--outlined {
    outline: 0.5px solid #fff;
    color: #fff;
}

.bt--smaller {
    padding: 0.7rem 1rem !important;
    font-size: 1.03rem !important;
}

.bt--small {
    padding: 0.7rem 1.1rem !important;
    font-size: 1rem !important;
}

.bt--authentication {
    padding: 0.5rem 1.1rem !important;
    font-size: 1rem !important;
}

.bt--profile {
    padding: 0.4rem 1.1rem !important;
    font-size: 1rem !important;
    margin-top: 0.25rem;
}

@media only screen and (max-width: 37.5em) {
    .bt--small {
        padding: 0.7rem 1.1rem !important;
        font-size: 0.8rem !important;
    }
}