@import '../abstracts/_variables.css';

.btn, .btn:link, .btn:visited {
    display: inline-block;
    padding: 0.5rem 1.5rem;

    border-radius: 0.05rem;
    text-decoration: none;
}

.btn--grey {
    background-color: var(--color-light-grey-2);
    color: #fff;
}

.btn--brown {
    background-color: var(--color-brown);
    color: #fff;
}
