@import '../abstracts/_variables.css';

.bt, .bt:link, .bt:visited {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 1.1rem;
    text-transform: uppercase;
    display: inline-block;
    padding: 0.7rem 1.7rem;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0.05rem;
    border: none;
    position: relative;
    transition: all 0.25s;
}

.bt:hover {
  color: #fff;
  transform: scale(1.03);
}

/* Create a shape outside of the button range*/
.bt::after {
    content: '';
    background: #fff;
    height: 155px;
    left: -6rem;
    opacity: 0.3;
    position: absolute;
    top: -3.5rem;
    transform: rotate(35deg);
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: -10;
}

/* Move rotated shape from left to right */
.bt:hover::after {
    left: 120%;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}


.bt--main {
    background-color: var(--color-purple);
    color: #fff;
}

.bt--grey {
    background-color: var(--color-light-grey-2);
    color: #fff;
}

.bt--brown {
    background-color: var(--color-brown);
    color: #fff;
}


