@import '../abstracts/_variables.css';

.list-card {
    border: 1px solid var(--color-light-blue-3);
    min-height: 20rem;
}

.list-card-bg {
    background-color: var(--color-light-blue-1);
    border: 1px solid var(--color-light-blue-3);
    height: 70%;
}

.list-card-details {
    padding: 1rem;
    position: relative;
}

.list-card-details .name {
    font-size: 1.5rem;
}

.list-card-details .price {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1rem;
    color: var(--color-dark-grey-2);
}