@import '../abstracts/_variables.css';

.cardindex {
    height: 32rem;
    position: relative;
    perspective: 150rem;
    -moz-perspective: 150rem;
    margin: 0 1rem 3rem 1rem;
}

.cardindex-side {
    height: 32rem;
    transition: all 1s ease;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1px;
    box-shadow: 0 1.5rem 1.75rem rgba(0, 0, 0, 0.15);
}

.cardindex-side--front {
    background-color: #fff;
    border: 0.5px solid var(--color-light-grey-1);
}

.cardindex-side--back {
    background-image: linear-gradient(to right top, var(--color-dark-purple-1), var(--color-dark-purple-2));
    transform: rotateY(180deg);
}

.cardindex:hover .cardindex-side--front {
    transform: rotateY(-180deg);
}

.cardindex:hover .cardindex-side--back {
    transform: rotateY(0);
}

/* Front look */
.cardindex-side .cardindex-bg {
    height: 40%;
    background-color: var(--color-light-blue-1);
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardindex-picture {
    width: 60%;
}

.perfume-name {
    text-align: center;
    padding: 0.5rem;
}

.perfume-brand {
    text-align: center;
    padding: 0.2rem;
    margin-bottom: 1rem;
}

.card-divider {
    border: 0.25px solid var(--color-light-blue-2);
    margin: 0rem 1rem 0.5rem;
}

.cardindex-details {
    height: 5rem;
}

.cardindex-details ul {
    list-style: none;
    text-align: center;
    padding-inline-start: 0;
    padding: 0.25rem 2.5rem;
}

.cardindex-details li {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.cardindex-details li:nth-child(2) {
    font-weight: bold;
    color: var(--color-dark-purple-2);
}

/* Back look */
.cardindex-side--back {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardindex-cta {
    color: #fff;
    text-align: center;
}

.price-only {
    font-size: 1.5rem;
    line-height: 1.7;
    margin-bottom: 0;
}

.price-value {
    font-family: 'Lora', serif;
    font-weight: 300;
    font-size: 3rem;
    margin-bottom: 2.5rem;

}