@import '../abstracts/_variables.css';

.list-card {
    border: 1px solid var(--color-light-blue-3);
    height: 20rem;
    min-width: 10rem;
}

.list-card-link,
.list-card-link:link,
.list-card-link:visited,
.list-card-link:focus
.list-card-link:hover {
    text-decoration: none !important;
    color: inherit;
    cursor: pointer;
}

.list-card-bg {
    background-color: var(--color-light-blue-1);
    border: 1px solid var(--color-light-blue-3);
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-card-picture {
    width: 70%;
}

.list-card-details {
    padding: 1rem;
    position: relative;
}

.list-card-details .name {
    font-size: 1.25rem;
    font-weight: 500;
}

.list-card-details .price {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1rem;
    color: var(--color-dark-grey-2);
}

