@import '../abstracts/_variables.css';

.populartags-header {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 0.8rem;
}

populartags-header span {
    color: inherit;
    font-size: 1rem;
    line-height: 2;
}

.tag {
    display: inline-block;
    padding: 0.4em 0.7em;
    font-size: 0.8rem;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 10rem;
    margin: 0.2rem 0.1rem;
}

.tag--1 {
    background-color: var(--color-brown);
}

.tag--2 {
    background-color: var(--color-dark-blue-2);
}

.tag--3 {
    background-color: var(--color-dark-grey-2);
}