@import '../abstracts/_variables.css';
@import '../base/_animations.css';
@import '../base/_base.css';

.banner-container {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: 1.55fr 1fr 1.55fr;
    grid-template-areas: "header image description";
}

.banner-image {
    grid-area: image;
    background-image: url('/images/banner.png');
    background-position: top;
    background-size: auto;
    background-repeat: no-repeat;
    height: 71vh;
    width: 100%;
}

.banner-header {
    grid-area: header;
    justify-self: end;
    padding-top: 4rem;
}

.banner-description {
    grid-area: description;
    align-self: end;
    padding-bottom: 3.5rem;
    width: 20rem;
}

/* Text style */
.banner-header h2 {
    font-size: 7rem;
    margin-bottom: 0.2rem;
}

.banner-header h3 {
    font-size: 2.7rem;
    padding-left: 0.5rem;
}

.banner-price {
    font-size: 2rem;
    margin-bottom: 0.7rem;
}

.banner-description p {
    font-size: 1.25rem;
    margin-bottom: 1.3rem;
    text-align: justify;
}