@import '../abstracts/_variables.css';

.bannerlist {
    height: 30vh;
    width: 100%;
    background-image: linear-gradient( to right bottom, rgba(245, 246, 249, 0.2), rgba(225, 227, 235, 0.5)), url('/images/bannerlist.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

.bannerlist-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 1rem;
}

.bannerlist-content h3 {
    font-size: 2rem;
    margin-bottom: 1.25rem;
    letter-spacing: 0.1rem;
}

.bannerlist-content p {
    font-family: 'Lora', serif;
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--color-dark-grey-2);
    margin-top: 1.5rem;
    letter-spacing: 0.08rem;
}

.bannerlist-divider {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 14rem;
    height: 1px;
    background-color: #fff;
    text-align: center;
}

/* phone */
@media only screen and (max-width: 37.5em) {

    .bannerlist {
        height: 30vh;
    }

    .bannerlist-content {
        width: 20rem;
    }

    .bannerlist-content h3 {
        font-size: 1.8rem;
    }

    .bannerlist-content p {
        font-size: 1.2rem;

    }
}

/* Landscape */
@media(max-height: 31.25em) {
    .bannerlist {
        height: 55vh;
    }
}