:root {
    --color-purple: #301b3f;
    --color-purple-lighter: #452859;
    --color-brown: #b4a5a5;
    --color-dark-grey-1: #404040;
    --color-dark-grey-2: #9f9f9f;
    --color-light-grey-1: #f4f4f4;
    --color-light-grey-2: #cccccc;
    --color-light-blue-1: #f5f6f9;
    --color-light-blue-2: #e1e3eb;
    --color-light-blue-3: #d7dcea;
    --color-dark-blue-1: #A6ADC9;
}
